#livechat-trigger {
    /* order-last allows us to focus on the "Chat" button when we close popup using Esc key */
    @apply fixed bottom-3 right-3 md:bottom-5 md:right-5;
    @apply btn btn-primary p-3 rounded-xl w-fit self-end shadow-lg order-last;
    @apply z-10 rounded-lg;

    .unread {
        @apply absolute top-0 right-0 -translate-y-1/2 translate-x-1/2;
        @apply rounded-full bg-red-500 flex items-center justify-center;
        @apply text-xs text-white leading-6;
        width: 27px;
        height: 26px;
    }
}

.livechat-wrapper {
    @apply fixed w-full max-w-sm max-h-[524px] z-10 rounded-lg;
    @apply bottom-22 right-3 md:bottom-24 md:right-5;
    height: calc(100% - 96px);
    width: calc(100% - 24px);

    .livechat {
        @apply flex-grow shadow-lg flex flex-col h-full rounded-lg bg-white;
        @apply border-2 border-primary/30;
    }

    .livechat-header {
        @apply w-full p-2 text-lg font-bold text-black text-center flex gap-3;
        @apply bg-primary/30 rounded-t-md;
    }

    .layout-main {
        .livechat-header {
            @apply justify-center;
        }

        .livechat-body {
            @apply overflow-y-auto;
        }
    }

    .livechat-body {
        @apply bg-white w-full h-full rounded-b-lg;
    }

    .layout-welcome, .layout-logged-in-welcome {
        .livechat-body {
            @apply flex flex-col justify-center items-center rounded-lg;
        }
    }

    .livechat-footer {
        @apply rounded-bl-lg rounded-br-lg;
    }

    .livechat-scroll-sentinel {
        overflow-anchor: none;
    }

    .layout-conversation {
        .livechat-body {
            @apply overflow-y-auto px-2.5 py-3.5 flex flex-col-reverse;
        }

        .livechat-message-wrapper {
            @apply flex;

            &.own {
                @apply justify-end;

                .livechat-message {
                    @apply bg-primary text-white;
                }
            }
        }

        .livechat-message {
            @apply bg-gray-200 rounded-lg p-2;
            @apply max-w-[calc(100%-1rem)];
        }

        .livechat-message-details {
            @apply flex flex-row items-center justify-end gap-0.5 text-xs;
        }
    }

    .livechat-date-wrapper {
        @apply w-full flex justify-center relative mx-auto my-3;
        @apply before:content-[''] before:bg-gray-500 before:w-full before:h-[1px];
        @apply before:top-1/2 before:left-0 before:absolute;

        .livechat-date {
            @apply relative px-1 bg-white text-gray-500 font-medium;
        }
    }

    .livechat-conversation-wrapper {
        @apply border-b border-b-gray-200;

        .livechat-conversation {
            @apply text-left hover:bg-gray-100 px-2.5 py-3.5 w-full;
        }

        .livechat-conversation-title {
            @apply flex justify-between gap-1;

            .title {
                @apply font-medium w-full overflow-hidden whitespace-nowrap text-ellipsis;
            }

            .last-message-date {
                @apply text-gray-500 text-sm whitespace-nowrap leading-6;
            }
        }

        .livechat-conversation-preview {
            @apply flex justify-between items-center gap-1 mt-0.5;

            .preview-message {
                @apply text-sm w-full overflow-hidden whitespace-nowrap text-ellipsis;
            }

            .unread {
                @apply rounded-full bg-red-500 w-[21px] h-[20px] flex items-center justify-center;
                @apply text-xs text-white;
            }
        }
    }
}
